# Copy to .env and adjust values

IMAGE_DATA_PATH=./data/Delivery

HOST_PROD=herbarium.example.org
HOST_STAGE=herbarium-stage.example.org

PGDATABASE=herbarium
PGUSER=herbarium
PGPASSWORD=your_password_here
PGHOST=localhost
PGPORT=5432

RAIS_TILEPATH=/var/local/images
