.env
.env.*
!.env.example
.Renviron

__pycache__/
*.py[cod]

.venv/
venv/

.DS_Store

data/Delivery/*
!data/Delivery/2023/
!data/Delivery/2023/01/
!data/Delivery/2023/01/23/
!data/Delivery/2023/01/23/CP1_20230123_BATCH_0001/
!data/Delivery/2023/01/23/CP1_20230123_BATCH_0001/*.jp2

viewer/*/idx/*
!viewer/*/idx/.gitkeep

caddy_data/
caddy_config/
postgres_data/

*.log
*.tmp
*.swp

app/.venv/
app/__pycache__/
